<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img class="logo" src="https://static.wixstatic.com/media/258dca_0898b3ab6e15499886fa5c87759a2540~mv2.png/v1/fill/w_240,h_73,al_c,q_85,usm_0.66_1.00_0.01/258dca_0898b3ab6e15499886fa5c87759a2540~mv2.webp" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
               home
            </i>
           Programa Teste para Digistarts
        </a>
    </span>
</mat-toolbar>
